.App {
  text-align: center;
  width: 600px;
  margin: auto;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* my-style */
.todolist {
  background-color: #282c34;
  color: whitesmoke;
  width: 100%;
  margin: auto;
  padding: 20px;
}
.navbar {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}
li {
  list-style-type: none;
  cursor: pointer;
  color: wheat;
}

/* .nav-link {
  text-decoration: none;
} */

.theOutlet {
  margin: 20px 0;
  min-height: 100px;
}

.addFeature {
  display: flex;
  width: 50%;
  margin: 30px auto;
}
.addBtn {
  cursor: pointer;
  background-color: black;
  padding: 0 3px;
}
input {
  margin-left: 10px;
  width: 180px;
  outline: none;
  border: none;
  padding: 3px 8px;
}

.thenote {
  display: flex;
  background-color: #1d1d1f;
  padding: 5px;
  margin-top: 10px;
}
.thenote ul {
  display: flex;
  margin-left: auto;
  gap: 5px;
}
.thenote ul li:hover {
  background-color: black;
}

.theEditInput {
  position: absolute;
  top: 200px;
  left: 150px;
}
.theEditInput input {
  padding: 12px 8px;
  outline: none;
  width: 280px;
  border: 1px solid red;
}
.saveBtn {
  position: relative;
  left: -50px;
}
